{% extends 'main.html' %}
{% load static %}
{% block title %}My Appointments{% endblock %}

{% block content %}
<!-- Accepted Appointment -->
<section>
    <h3>Your Accepted Appointments</h3>
    
    {% if accepted_appointments %}
        <table>
            <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Department</th>
                    <th>Reason for Appointment</th>
                    <th>Phone Number</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in accepted_appointments %}
                    <tr>
                        <td>{{ appointment.appointment_date|date:"F j, Y, H:i" }}</td>
                        <td>{{ appointment.department }}</td>
                        <td>{{ appointment.reason_for_appointment }}</td>
                        <td>{{ appointment.phone_number }}</td>
                        <td>{{ appointment.appointment_date }}</td>
                        <td>
                            <span style="color: green;">Accepted</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any accepted appointments.</p>
    {% endif %}
</section>

<!-- Pending Appointment -->
<section>
    <h3>Your Pending Appointments</h3>
    {% if pending_appointments %}
        <table>
            <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Department</th>
                    <th>Reason for Appointment</th>
                    <th>Phone Number</th>
                    <td>Date and Time</td>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in pending_appointments %}
                    <tr>
                        <td>{{ appointment.appointment_date|date:"F j, Y, H:i" }}</td>
                        <td>{{ appointment.department }}</td>
                        <td>{{ appointment.reason_for_appointment }}</td>
                        <td>{{ appointment.phone_number }}</td>
                        <td>{{ appointment.appointment_date }}</td>
                        <td>
                            {% if appointment.is_confirmed %}
                                <span style="color: green;">Confirmed</span>
                            {% else %}
                                <span style="color: red;">Pending</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" class="cancel-btn" data-id="{{ appointment.id }}">
                                <i class="fas fa-times"></i> Delete
                            </a>                                                       
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any appointments yet.</p>
    {% endif %}
</section>

<!-- Rejcted Appointment -->
<section>
    <h3>Your Rejected Appointments</h3>
    {% if cancelled_appointments %}
        <table>
            <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Department</th>
                    <th>Reason for Appointment</th>
                    <th>Phone Number</th>
                    <td>Date and Time</td>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in cancelled_appointments %}
                    <tr>
                        <td>{{ appointment.appointment_date|date:"F j, Y, H:i" }}</td>
                        <td>{{ appointment.department }}</td>
                        <td>{{ appointment.reason_for_appointment }}</td>
                        <td>{{ appointment.phone_number }}</td>
                        <td>{{ appointment.appointment_date }}</td>
                        <td>
                            {% if appointment.is_confirmed %}
                                <span style="color: green;">Confirmed</span>
                            {% else %}
                                <span style="color: red;">Pending</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any appointments yet.</p>
    {% endif %}
</section>


<link rel="stylesheet" href="{% static 'css/table_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- SweetAlert2 CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.26/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.26/dist/sweetalert2.all.min.js"></script>

<script src="{% static 'js/delete_appointment.js' %}"></script>
{% endblock %}
